@font-face {
    font-family : 'giants-bold';
    src : url(폰트/Giants-Bold.otf)
  }
@font-face {
    font-family : 'giants-inline';
    src : url(폰트/Giants-Inline.otf)
  }
@font-face {
    font-family : 'giants-regular';
    src : url(폰트/Giants-Regular.otf)
  }
  body{
    height: auto;
    overflow-x: hidden;
  }
header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px 32px;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: aliceblue ;
}
#content-webper{
    display: flex;
    flex-direction: row;
    width: fit-content;
    position: fixed;
}

#content-webper > * {
    flex-shrink: 0;
}
#header-contents{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bisco-rogo{
    display: block;
    width: 187px;
    height: 65px;
    background-image: url(img/부산시설공단로고.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.main-rogo{
    width: 122px;
    height: 67px;
    background-image: url(img/메인ㄹ고.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.hambutton{
    width: 48px; 
    height: 48px;
    padding : 12px;
    box-sizing: border-box;
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
}

.hambutton > span { 
    display: block;
    width: 24px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

.hambutton > span:first-child {
    transform: translate(-50%,calc(-50% - 6px))
}
.hambutton > span:last-child {
    transform: translate(-50%,calc(-50% + 6px))
}

.hambutton.active > span:first-child {
    transform: translate(-50%,-50%) rotate(45deg)
}
.hambutton.active > span:nth-child(2) {
    opacity: 0;
}
.hambutton.active > span:last-child {
    transform: translate(-50%,-50%) rotate(-45deg)
}

.hambutton-cilck{

    display: block;
    background-color: rgba(16, 35, 59, 0.80);
    position: absolute;
    cursor: pointer;
    transform: translateX(100%);
    transition: 0.3s;
    right: 0;
    top: 100%;
}

.hambutton-cilck.active {
    transform: none;
}
.hammenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:32px;
    gap: 32px;
}
.hammenulist{
    color: #F5F5F5;
    font-family: 'giants-bold';
    font-size: 20px;
    font-weight: 700;
}
.hammenulist:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
    color: #F5F5F5;
}
.hammenulist.nav-active {
    color: #1CB5E0;
}

section{
    flex-shrink: 0;
    padding-top: 91px;
    box-sizing: border-box;
    overflow: hidden;
}
.main-vidio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}
video{
    width:100vw;
    object-fit: contain;
}
.news{
    width: 100vw;
    height: 90px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;  
    background-color: aliceblue ;
    position: absolute;
    bottom: 0;
}
.news-titel{
    color: #204776;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    font-family: 'giants-bold';
    line-height: normal;
    text-transform: uppercase;
}
.news-list{
    display: flex;
    padding: 14px 0px;
    justify-content: center;
    align-items: center;
    gap: 62px;
    align-self: stretch;
}

.news-list>a>p{
    color: #262626;
    font-family: 'giants-regular';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
}
#game-schedule{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #1D95EC;
}
.today-game-place{
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image:linear-gradient(13deg, #0000007a, #0000007a),url(img/경기일정사진.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.today-game{
    display: flex;
    width: 70%;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 16px;
    background: rgba(16, 35, 59, 0.80);
    animation: bounce-top-50 1s infinite;
}
.game-title{
    color: #FFF;
    text-align: center;
    font-family: 'giants-bold';
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}
.day-and-time{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    color: #FFF;
}
.game-day{
    color: #FFF;
    text-align: center;
    font-family: 'giants-regular';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.game-time{
    color: #FFF;
    text-align: center;
    font-family: 'giants-regular';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.match-teams{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}
.match-teams > img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.match-teams > p{
    color: #FFF;
    text-align: center;
    font-family: 'giants-bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.stadium-live{
    color: #FFF;
    text-align: center;
    font-family: 'giants-regular';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

@keyframes bounce-top-50 {
    0% {
        transform: scale(1);
    }
    5%{
        transform: scale(1.05);
    }
    20%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.025);
    }
    100%{
        transform: scale(1);
    }

}
.game-list-page{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.game-list{
    width: 86%;
    display: flex;
    height: 76%;
    padding: 32px 16px;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background: rgba(13, 50, 94, 0.60);
}
h2{
    color: #FFF8F8;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.heading-bold{
    color: #FFF8F8;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.information{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.schedule{
    display: flex;
    gap: 12px;
    color: #FFF8F8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}
.team-score{
    display: flex;
    height: 50px;
    padding-right: 0px;
    align-items: center;
    gap: 32px;
}
.team-match-left{
    display: flex;
    width: 181px;
    height: 50px;
    padding-right: 0px;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;
}
.score-board{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-match-right{
    display: flex;
    width: 180px;
    height: 50px;
    padding-right: 0px;
    align-items: center;
    gap: 12px; 
}
.team-match-left > img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.team-match-right > img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.team-match-left > p{
    color: #FFF8F8;
    font-size: 14px;
    font-weight: bold;
}
.team-match-right > p{
    color: #FFF8F8;
    font-size: 14px;
    font-weight: bold;
}
.place-score{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
    font-size: 12px;
}
.live{
    font-size: 12px;
    color: #F5F5F5;
}
.game-list>a{
    color: #F5F5F5;
    font-size: 14px;
    font-weight: bold;
}
#players-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom right,#052952 0%, #052952 50%, #F5F5F5 50%, #F5F5F5 100%);
}

h3{
    color: #FFF;
    text-align: center;
    font-family: 'giants-bold';
    font-size: 26px;
    font-style: normal;
    line-height: normal;
    padding:32px;
}
.players{
    display: flex;
    width: 100vw;
    padding-top: 16px;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    flex-shrink: 0;
}
.player-profile{
    width: 180px;
    height: 180px;
    display: flex;
}
.player-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -6px;
    color: #F5F5F5;
    -webkit-text-stroke:1px #040404;
}
.player-name>p{
    font-family: 'giants-regular';
}
.name{
    text-align: center;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}
.player-number{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-family: 'giants-regular';
    color: #f5f5f5;
    -webkit-text-stroke: 1px #040404;
}
.number{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
.profile-taxt{
    width: 180px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    position: absolute;
    transform: translateY(220%);
    justify-content: space-between;
}
.player-profile > img {
    width: 100%;
    height: 100%;
}
.staff-profile{
    width: 180px;
}
.Coaching-staff{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 16px;
    justify-content: center;
}
.staff-profile > img{
    width: 100%;
    height: 100%;
}
.staff-taxt{
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    position: absolute;
    transform: translateY(-98%);
    font-family: 'giants-regular';
    color: #ffff;
    -webkit-text-stroke: 1px #040404;
}
.staff-profile > p{
    font-family: 'giants-regular';
}
.player-profile:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.4s;
}
.staff-profile:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

#history{

    height: 100vh;
    background-color: #052952;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Introduction{
    display: flex;
    width: 780px;
    height:100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex-shrink:0;
}
.Introduction>img{
    width: 100%;
    filter: brightness(0.5);
}
.introduction-text-container{
    gap: 26px;
}
.Introduction-taxt{
    color: #FFFDFD;
    text-align: center;
    font-family: 'giants-regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 16px;
}
.history-result{
    height: 88%;
    display: flex;
    flex-direction:column;
    padding: 32px;
    box-sizing:border-box;
    flex-shrink: 0;
}
h4{
    color: #FFF;
    font-family: 'giants-bold';
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
}
.history-title-wrapper{
    display: flex;
    height: 100%;
    padding-top: 22px;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
}
.result-grade{
    display: flex;
    align-items: center;
    gap: 8px;
}
.history-title-content{
    display: flex;
    width: 450px;
    height: 100%;
    padding: 32px 0px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 16px;
    background: rgba(29, 149, 236, 0.43);
    
}
.history-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h5{
    color: #FFFDFD;
    text-align: center;
    font-family: 'giants-bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 203.023%; 
}
.history-img{
    width: 100%;
    height: 45%;
    object-fit: cover;
}
.title-result{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: #F5F5F5;
    font-family: 'giants-regular';
    font-size: 26px;
}

.grade{
    font-size: 30px;
    font-family: 'giants-bold';
}
.team-symbol{
    width: 100vw;
    padding-top: 107px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image: linear-gradient(13deg, rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.48)),url(img/유니폼뒷사진.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-color:#052952;    
    flex-direction: column;
    gap: 18px;
}
h6{
    color: #121212;
    text-align: center;
    font-family: 'giants-inline';
    font-size: 24px;
}
.cl{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.50);
}
.cl-rogo{
    display: flex;
    align-items: center;
    gap: 58px;
}
.cl-rogo > img {
    width: 180px;
    height: 180px;
    object-fit:contain;
}
.uniform{
    display: flex;
    padding: 10px 32px 16px 32px;
    align-items: flex-start;
    gap: 50px;
}
.field{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.50);
}
.player-uniform{
    display: flex;
}
.uniform-color{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.uniform-color> img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.color-taxt {
    font-size: 14px;
    font-weight: 600;
}
.uniform-button{
    border: 2px solid #00000022;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    background-color: transparent;
}
.uniform-button:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.4s;
}
.uniform-detail{
    width: 280%;
    height: 290%;
    align-items: center;
}
.uniform-detail>img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100vw;
    padding-top:91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap:62px;
    background-color: #052952;
    flex-shrink: 0;
}
.sponsor{
    display: flex;
    gap: 32px;
}
.footer-rogo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.Sponsor-rogo{
    background-color: #FFF8F8;
    width: 200px;
    height: 150px;
    padding: 16px;
    border-radius: 16px;
}
.Sponsor-rogo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-text{
    display: flex;
    align-items: flex-start;
    gap: 47px;
    color: #b3b3b3;
}
@media screen and (max-width:1365px) {
  
    body{
        height: auto;
    }
    header {
        padding: 16px;
    }
    section{
        padding-top: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .bisco-rogo{
        display: none;
    }
    .hambutton{
        display: none;
    }
    #header-contents{
        align-items: center;
        justify-content: center;
    }

    #content-webper {
        flex-direction: column;
        position: relative;
    }



    .news{
        height: 25%;
        gap: 50px;  
    }
    .news-titel{
        font-size: 16px;
        font-weight: 600;
    }
    .news-list{
        padding: 16px;
        gap: 28px;
    }
    .news-list>a>p{
        font-size: 12px;
        font-style: normal;
        line-height: normal;
        text-decoration-line: underline;
    }
    video{
        width:100%;
        height:500px;
        background-color: #052952;
        object-fit: contain;
    }
    .main-vidio{
        padding-top: 91px;
        height: 790px;
    }
    #game-schedule{
        height: auto;
        flex-direction: column;
        align-items: center;
        padding:32px;
        gap: 32px;
        background-size: cover;   
        background-image: linear-gradient(13deg, #0000007a, #0000007a),url(img/경기일정사진.jpg);
    }
    .today-game{
        width: 500px;
        padding: 16px;
        align-items: center;
    }
    .today-game-place{
        width: 500px;
        background-image: none;
        height: auto;
    }
    .game-title{
        font-size: 16px;
    }
    .day-and-time{
        gap: 16px;
    }
    .game-list{
        width: auto;
        padding: 16px;
        gap: 32px;
        background-color:rgba(16, 35, 59, 0.80);
        border-radius: 16px;
    }
    .game-day{
        font-size: 14px;
    }
    .game-time{
        font-size: 14px;
    }
    .match-teams{
        gap: 26px;
    }
    .match-teams > img{
        width: 100px;
        height: 100px;
    }
    .match-teams > p{
        font-size: 16px;
    }
    .stadium-live{
        font-size: 12px;
    }
    .game-list-page{
        width: 550px;
    }
    h2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
    .heading-bold{
        font-size: 18px;
    }
    .information{
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border-bottom: 1px solid #ffff;
    }
    .schedule-container{
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
    }
    .information:nth-child(n+9) {
        display: none;
    }
    .schedule{
        flex-direction: column;
        font-size: 12px;
        gap: 6px;
    }
    .team-score{
        padding: 0;
        gap:0;
    }
    .team-match-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0;
    }
    .team-match-right{
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 0;
    }
    #players-page{
        width: 100%;
        height: auto;
        padding-bottom: 32px;
    }
    .place-score{
        gap: 6px;
        font-size: 16px;
        font-weight: 600;
    }
    .place{
        width: 78px;
        font-size: 11px;
        font-weight: 300;
    }
    .players{
        padding: 16px;
        height: auto;
        padding-bottom: 32px;
    }
    .player-profile{
        width: 100px;
        height: 100px;
        padding-right: 32px;
    }
    .profile-taxt{
        width: 100px;
    }
    .player-name{
        font-size: 12px;
    }
    .name{
        font-size: 16px;
    }
    .player-number{
        font-size: 12px;
    }
    .number{
        font-size: 16px;
    }
    .staff-profile{
        width: 100px;
    }
    .staff-taxt{
        width: 100px;    
    }
    #history{
        height: auto;
        overflow: auto;
        flex-direction: column;
        padding-top: 0;
    }
    .Introduction{
        width: 100%;
        height: auto;
        background-color:rgba(29, 149, 236, 0.43);
        padding-bottom: 32px;
    }
    .history-result{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .history-title-wrapper{
        flex-direction: column;
    }
    .team-symbol{
        padding: 32px;
        gap: 32px;
    }
    .uniform{
        flex-direction: column;
    }
    footer{
        padding: 32px;
    }
    .Sponsor-rogo{
        width: 130px;
        height: 130px;
        padding: 12px;

    }
}
@media screen and (max-width:800px) {
    .news{
        gap: 0;
    }
    .news-titel{
        font-size: 14px;
    }
    .news-list {
        padding: 32px;
        gap: 8px;
    }
    .news-list>a>p{
        font-size: 10px;  
    }
    .today-game-place{
        width: auto;
    }
    .today-game{
        width: 100%;
    }
    .game-list-page{
        width: 550px;
    }
    .game-list {
        width: 320px;
    }
    .schedule-container{
        gap: 0;
        align-items: center;
    }
    .information {
        width: 58%;
        flex-direction: column;
    }
    .team-match-left{
        width: 150px;
    }
    .team-match-right{
        width: 150px;
    }
    #players-page{
        width: 100vw;
    }
    .staff-taxt{
        width: 90px;
    }
    
    #history{
        width: 100vw;
    }
    .Introduction-taxt{
        font-size: 12px;
    }
    .history-result{
        gap: 0;
        width: 100%;
    }
    h4{
        font-size: 28px;
    }
    .history-title-wrapper {
        width: 100%; 
        flex-direction: column;
    }
    .history-title-content {
        width: 100%;
    }
    .team-symbol{
        background-image:none;
    }
    .cl-rogo{
        gap: 16px;
    }
    .cl-rogo>img{
        width: 100px;
        height: 100px;
    }
    .player-uniform{
        flex-direction: column;
    }
    h6{
        font-size: 20px;
        padding: 16px;
    }
    .sponsor{
        flex-direction: column;
    }
    .Sponsor-rogo{
        width: 100px;
        height: 100px;
    }
    .footer-text{
        font-size: 10px;
        gap: 12px;
    }

}

